
@variables {
    main-color: #336699;
}

.border-radius {
    background-color: black;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.variables {
    background-color: var(main-color);
    width: 100px;
    height: 100px;
}

